*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#wrap {
    height: 100%;
    width: 100%;
}
#main {
    position: relative;
    z-index: 10;
    width: 100%;
    overflow-x: hidden;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    width: 100%;
    padding: 1vw 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4{
    padding: 10px 15px;
    border: 1px solid rgba(59, 58, 58, 0.4);
    border-radius: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
}

.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0%;
    transition: all ease 0.4s;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 10;
}

.nav-part2 h4:hover a{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #0000003c;
}

#left h3{
    font-size: 2vw;
    line-height: 2vw;
    width: 30vw;
}

#right h1{
    font-size: 7vw;
    line-height: 7vw;
    text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    height: 30vw;
    width: 40vw;
    right: -5%;
    top: 70vh;
}

#hero-1 {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: blur(15px);
    position: absolute;
    background-color: #FE320A;
}

#hero-2 {
    height: 28vw;
    width: 35vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE320A, #ff4f2c);
    right: -10%;
    filter: blur(15px);
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3 {
    height: 25vw;
    width: 25vw;
    background: linear-gradient(#FE320A, #ff4f2c);
    position: absolute;
    border-radius: 50%;
    filter:blur(15px);
    animation-name: anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from{
        transform: translate(-10%, -5%);
    }
    to{
        transform: translate(10%, 5%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(30%, -5%);
    }
    to{
        transform: translate(-5%, 6%);
    }
}

#page-2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    font-size: 8vw;
    display: inline-block;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }  
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vw;
    margin-top: 6%;
    position: relative;
    z-index: 10;
}

#page2-bottom h1{
    font-size: 4.5vw;
    width: 60%;
    line-height: 4.5vw;
}

#bottom-part2{
    width: 25%;
    margin-right: 3vw;
}

#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p{
    font-weight: 400;
    margin-top: 2vw;
}

#page-2 #obj{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(to top right, #FE320A, #fc7c28);
    position: absolute;
    border-radius: 50%;
    top:58%;
    left: 25%;
    animation-name: dabble;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes dabble {
    from{
        transform: translate(10%, -8%) skew(0);
        filter: blur(15px);
    }
    to{
        transform: translate(-10%, 10%) skew(-12deg);
        filter: blur(25px);
    }
}

#page-3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

#mini-text {
    display: flex;
    gap: 0.5vw;
    padding-bottom: 2vw;
}

#mini-circle{
    height: 0.8vw;
    width: 0.8vw;
    border-radius: 50%;
    margin-left: 1.5vw;
    margin-top: 0.2vw;
    background-color: #FE320A;
}

#mini-text h5{
    font-weight: 400;
}

.elem {
    height: 110px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1.5vw;
    overflow: hidden;
}

.elem h2{
    font-size: 2.8vw;
    position: relative;
    z-index: 10;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 123, 0);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay{
    top: 0;
}

#fixed-img{
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-position: center;
    background-size: cover;
}

#page-4 {
    height: 60vw;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    display: flex;
    justify-content: center;
}

#container4 {
    height: 56vw;
    width: 95%;
    background-color: black;
    border-radius: 2vw;
    margin-top: 8vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-text {
    padding: 9vw;
}

#left-text h1{
    color: white;
    font-size: 4vw;
    line-height: 5vw;
}

#left-text p{
    padding-top: 4vw;
    color: white;
}

#container4 img {
    height: 100%;
    width: 50%;
    border-radius: 1.5vw;
}

#scroller-container{
    height: 90vh;
    width: 100%;
    padding: 4vw 3vw;
    background-color: #EFEAE3;
    position: relative;
}


#page-5 {
    height: 90vh;
    width: 100%;
}

#footer {
    height: 90vh;
    width: 100%;
    background: linear-gradient(#FE320A, black);
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 9;
    padding: 1vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#footer h1{
    font-size: 23vw;
    font-weight: 650;
    line-height: 24vw;
}

#footer-top{
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13vw;
    margin-top: 8vw;
}

#top1 h3{
    font-size: 2vw;
    line-height: 3vw;
    border-bottom: 1px solid rgb(218, 207, 207);
}

#footer-bottom {
    border-top: 2px solid #dadada;
    height: 10vh;
    width: 100%;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-bottom h3{
    font-weight: 300;
    font-size: 1.5vw;
}

#footer-bottom a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.5vw;
}

#mini-t{
    display: flex;
    padding: 3vw 0;
    gap: 0.3vw;
}

#mini-c {
    height: 0.8vw;
    width: 0.8vw;
    border-radius: 50%;
    background-color: #FE320A;
}

#mini-t h5 {
    font-weight: 400;
}

/*  Swiper  */

html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #EFEAE3;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 50%;
      height: 75%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #EFEAE3;
      border-left: 1px solid rgb(179, 170, 170);
      border-right: 1px solid rgb(179, 170, 170);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2vw;
    }

    .swiper-slide img {
      display: block;
      width: 40%;
      height: 40%;
      margin: 2vw 13vw;
    }

    .swiper-slide {
      width: 100%;
    }